node_modules
dist
out
.DS_Store
.eslintcache
*.log*
/data/
/Data/
**/release/
**/test-results/
**/tests/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
